#!/bin/sh
# Tiny script to setup a new repo.

set -e
IFS='\n'

OWN_DIR=$(dirname "$0")
cd "$OWN_DIR" || exit 1
OWN_DIR=$(git rev-parse --show-toplevel)
cd "$OWN_DIR" || exit 1
OWN_DIR=$(pwd -P)
CURRENT_PROJECT=""

clone_current(){
  case $CURRENT_PROJECT in
    {% for name, wiki in wikis.items() %}
    "{{ name }}")
      if [ ! -d "$OWN_DIR/content/{{ name }}" ]; then
        git clone {{ wiki.src }} --branch {{ wiki.src_branch }} "$OWN_DIR/content/{{ name }}"
      fi
      if [ ! -d "$OWN_DIR/public/{{ name }}" ]; then
      {% if wiki.dest is defined and wiki.dest %}
        git clone {{ wiki.dest }} --branch {{ wiki.dest_branch }} "$OWN_DIR/public/{{ name }}"
      {% else %}
        mkdir "$OWN_DIR/public/{{ name }}"
      {% endif %}
      fi
    ;;
    {% endfor %}
    *)
      echo "Invalid choice"
      exit 1
    ;;
  esac
}

prompt_from_list(){
  echo "Which project do you want to use?"
  {% for name, wiki in wikis.items() %}
  echo "{{ loop.index }}) {{ name }}"
  {% endfor %}

  read CURRENT

  case $CURRENT in
  {% for name, wiki in wikis.items() %}
    "{{ loop.index }}")
      CURRENT_PROJECT="{{ name }}"
    ;;
  {% endfor %}
    *)
      echo "Invalid choice"
      exit 1
    ;;
  esac
}

if [ -n "$1" ]; then
  CURRENT_PROJECT="$1"
else
  prompt_from_list
fi

clone_current

echo "current: $CURRENT_PROJECT" > "$OWN_DIR/ce-dev/ansible/current.yml"

cd "$OWN_DIR"

ce-dev start
ce-dev deploy
